button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .member {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .dataTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    
  }
  
  .dataTable thead {
    background-color: #f8f8f8; 
  }
  
  .dataTable th {
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    color: #333;
  }
  
  .dataTable tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  .dataTable td {
    padding: 12px;
    text-align: left;
    color: #555;
  }
  
  .dataTable tbody tr:hover {
    background-color: #f1f1f1;
  }
  